@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  max-width: 100vw;
}

body {
  max-width: 100vw;
  /* display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "."
    "main-area"
    "footer-area"; */
  height: 2000px;
}

.gray-font {
  text-decoration: none;
  font-weight: 700;
  color: #c0c0c0;
  font-size: 0.8rem;
}

.custom-font {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
}

.tnw-custom_font {
  color: #ff4422;
}

/* Header - Main Navigation */
.main-nav {
  background-color: rgb(0, 0, 0);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.main-nav__links1,
.main-nav__links2,
.lower-nav_links {
  list-style: none;
}

.main-nav__links1 li,
.main-nav__links1 a,
.main-nav__links2 li,
.main-nav__links2 a,
.lower-nav_links li,
.lower-nav_links a {
  text-decoration: none;
  color: #808080;
  font-size: 0.8rem;
  font-weight: 600;
}

.main-nav__links1 li,
.main-nav__links2 li,
.lower-nav_links li {
  display: inline-block;
  padding: 0.2rem;
}

.news a {
  color: #fff;
}

.main-nav__links1 a:hover,
.main-nav__links2 a:hover,
.main-article_description a:hover,
.side-bar_details a:hover {
  color: #fff;
}

.lower-nav {
  padding-left: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid #c0c0c0 1px;
}

.lower-nav_links a:hover {
  color: #202020;
}

.lower-nav_search {
  width: 3.5rem;
  padding: 1rem;
  border-left: 1px solid #c0c0c0;
  text-align: center;
}

.lower-nav_search img {
  max-height: 1.5rem;
  max-width: 1.5rem;
}

/* === Main Content Area === */
.main-section {
  background-color: #e0e0e0;
  padding: 0.5rem 0.5rem 0;
  margin-bottom: 3rem;
  display: flex;
  color: #fff;
}

.main-article {
  width: 70%;
  height: 28.5rem;
  background-image: url("images/cover-gradient.png"), url("images/image-gradient.png"), url("images/google-logo.png");
  background-repeat: no-repeat, repeat,no-repeat;
  background-size: cover;
  background-position: left 0% top 20%, left 0% top 70%, 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.logo img {
  width: 24rem;
}

.main-article_description {
  padding: 1rem;
}

.main-article_description h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
}

/* Side Bar */
.side-bar {
  width: 35%;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
}

.side-bar_1 {
  position: relative;
  margin-bottom: 0.5rem;
  background-image: url("images/image-gradient.png"), url("images/side-img_1.jpg");
  background-size: cover;
  background-position: left 0% top 65%, 100%;
}

.side-bar_2 {
  position: relative;
  background-image: url("images/image-gradient.png"), url("images/side-img2.png");
  background-size: cover;
  background-position: left 0% top 65%, 100%;
}

.side-bar_1,
.side-bar_2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-clip: border-box;
  height: 224px;
}

.side-bar_details {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

/* Latest News Section */
.latest-news {
  width: 88%;
  margin: auto;
  display: grid;
  grid-gap: 1.1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "heading heading heading heading"
    "article1_area article2_area article3_area article4_area"
    "article5_area article6_area article7_area article8_area";
}

.latest-news_heading {
  grid-area: heading;
}

.latest-news_article1 {
  grid-area: article1_area;
}

.latest-news_article2 {
  grid-area: article2_area;
}

.latest-news_article3 {
  grid-area: article3_area;
}

.latest-news_article4 {
  grid-area: article4_area;
}

.latest-news_article5 {
  grid-area: article5_area;
}

.latest-news_article6 {
  grid-area: article6_area;
}

.latest-news_article7 {
  grid-area: article7_area;
}

.latest-news_article8 {
  grid-area: article8_area;
}

.latest-news_imgs {
  width: 18rem;
  max-height: 8rem;
}

/* Latest Funding */
.latest-funding{
  width: 88%;
  margin: 4rem auto;
  display: grid;
  grid-gap: 1.1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "latest-funding_title latest-funding_title latest-funding_title latest-funding_title"
    "latest-funding_art1 latest-funding_art2 latest-funding_art3 latest-funding_art4";
}

.lastest-funding_title {
  grid-area: latest-funding_title;
  display: flex;
  justify-content: space-between;
}

.latest-funding_links {
  list-style-type: none;
}

.latest-funding_links li, a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  margin: 0 0.2rem;
}

.lastest-funding_custom-li {
  border-left: 1.5px solid #ff4422;
  border-right: 1.5px solid #ff4422;
  padding: 0 0.6rem;
}

.latest-funding__article1 {
  grid-area: latest-funding_art1;
  background-color: #fffaf8;
}

.latest-funding_img {
  position: absolute;
  margin: 0.5rem;
}

.latest-funding_img img {
  max-width: 4rem;
  max-height: 4rem;
}
.heading-artcls {
  background-color: #ff4422;
  padding: 1rem 0 1rem 5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.price-series {
  background-color: #ffebe8;
  padding: 1rem;
}

.price-series p {
  padding-left: 4rem;
}

.price-series p:first-of-type {
  font-family: 'Roboto', sans-serif;
}

.latest-funding_details1 {
  border-bottom: 1px solid  #facec7;
  padding: 1rem;
}

.latest-funding_details2 {
  padding: 1rem;
}

.latest-funding__on {
  color: #c0c0c0;
  font-size: 0.75rem;
}

.latest-funding-font {
  color: #808080;
}

.latest-funding__article2 {
  grid-area: latest-funding_art2;
  background-color: #fffaf8;
}

.latest-funding__article3 {
  grid-area: latest-funding_art3;
  background-color: #fffaf8;
}

.latest-funding__article4 {
  grid-area: latest-funding_art4;
  background-color: #fffaf8;
}